<!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script>
    var getTitle="title"
</script>
<script src="/javascripts/app.js"></script>

<body>
<div class="footer " style="margin-bottom: 0%; padding-bottom: 0%; background-color:#94b49f">
    <!-- Footer details -->
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://www.linkedin.com/in/" style="color: #309d92;" class="nav-link li " >LinkedIn</a></li>
            <li class="nav-item"><a href="https://www.instagram.com/" style="color: #309d92;" class="nav-link li" >Instagram</a></li>
            <li class="nav-item"><a href="https://www.facebook.com/" style="color: #309d92;" class="nav-link li" >Facebook</a></li>
            <li class="nav-item"><a href="https://github.com/szesandyt123/SurveyDIY.git" style="color: #309d92;" class="nav-link li" >Github</a></li>
            
        </ul>
        <p class="text-center " style="color: white;">© 2022 Copyright SURVEY DIY</p> 

    </footer>

</div>


